$navbar-default-bg: #000;


@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#logo:hover{
  color: #bbb;
}
.center{
  text-align: center;
}
.jumbotron {
  background: asset-url('brick.png') center;
  background-size:        cover;
  height:     550px;
}
.jumbotron h1 {
  color:                #fff;
   font:                bolder 8vw 'Alfa Slab One';
   letter-spacing:      -1px;
    text-shadow:        2px 2px #000;
}
.btn-xlarge{
  font-size: 1.7em;
  background-color: black;
}
footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #000;
  color: #777;
}
footer ul{
    list-style: none;
    float: right;
}
footer ul li{
    float: left;
    margin-left: 15px;
}
footer a{
  color: #777;
}
footer a:hover {
  color: #222;
  text-decoration: none;
}
